* {
  margin: 0;
  padding: 0;
  user-select: none;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  transition: 0.25s;
  
}
:root {
  --first: #e4eb9c;
  --sec: #0c1306;
  --thrd: #29741a;
  --fourth: #57bb39;
}
body,
html {
  height: 100vh;
  background-color: var(--sec);
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
     /* إخفاء لكروم وسافاري */
    &::-webkit-scrollbar {
        display: none;
    }
    
    /* إخفاء لفايرفوكس وإكسبلورر */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}
section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* overflow: hidden; */
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transition: 0.75s;
}
h1 {
  color: var(--first);
  font-size: 40px;
  animation: glow 5s infinite;
}
@keyframes glow {
  100%,
  0% {
    text-shadow: #e5eb9c7e 1px 1px 10px;
  }
  50% {
    text-shadow: #e5eb9c7e 1px 1px 0px;
  }
}
p,
span {
  color: var(--sec);
  font-size: 26px;
  text-shadow: #e5eb9c4b 1px 1px 10px;
}
button {
  padding: 6px 26px;
  color: var(--first);
  font-size: 26px;
  background-color: var(--fourth);
  border: none;
  border-radius: 16px;
  box-shadow: 0 5px 0 var(--thrd);
  cursor: pointer;
  transition: 0.1s;
}
button:active {
  box-shadow: none;
  translate: 0 5px;
}
.home {
  position: absolute;
  left: 0;
  top: 0;
  margin: 16px;
}
/* بداية الواجهة */
.bg-move {
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  animation: bg-move infinite 10s ease-in-out;
}
.bg-move:nth-child(1) {
  width: 75%;
  rotate: 45deg;
  opacity: 0.2;
  animation-delay: 1s;
}
@keyframes bg-move {
  0%,
  100% {
    translate: 0 2%;
    filter: drop-shadow(2px 2px 5px var(--first));
  }
  50% {
    translate: 0 0;
    filter: drop-shadow(0px 0px 0px var(--first));
  }
}
.start {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.start p,
span {
  text-align: center;
  padding: 5px;
  color: var(--first);
}
.start img {
  width: 30%;
  border-radius: 100%;
  object-fit: cover;
  filter: drop-shadow(1px 1px 5px #e5eb9c54);
}
.start div {
  padding: 50px 0;
}
/* نهاية الوجهة */
/* بداية الكروت */
.card-section {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-filed {
  width: 75%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
}
.card {
  padding: 0;
  width: 20%;
  height: 35%;
  background-color: var(--first);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 1px 1px 10px #e5eb9c54;
  border-bottom: solid 5px #b4b97d;
  cursor: pointer;
  animation: shik 2s infinite ease-in-out;
}
@keyframes shik {
  0%,
  100% {
    rotate: 3deg;
  }
  50% {
    rotate: -3deg;
  }
}
.card:hover {
  scale: 1.05;
  box-shadow: 1px 1px 15px #e5eb9c54;
}
.card p {
  width: 100%;
  background-color: var(--fourth);
  color: var(--first);
  border-bottom: solid 5px #4b9e318c;
  border-radius: 6px;
}
/* نهاية الكروت */
/* بداية الاسماء */
.player-section {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-section h1 {
  text-align: center;
}
#starts {
  opacity: 0.5;
  /* pointer-events: none; */
}
.player-filed {
  width: 75%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-names {
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 6px;
}
.player-names span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-names span p {
  width: 200px;
  color: var(--first);
  padding: 3px;
  border: var(--first) 3px solid;
  border-radius: 0 16px 16px 0;
  box-shadow: 0 5px 0 #e5eb9c81;
}
.player-names span p:nth-child(1) {
  width: 100px;
  border-radius: 16px 0 0 16px;
}
.player-names span button {
  background-color: #e61818;
  box-shadow: 0 5px 0 #a31616;
  border-radius: 16px 0 0 16px;
}
.add-player:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.add-player button:nth-child(2) {
  background-color: #f8ea2b;
  box-shadow: 0 5px 0 #a89f17;
  color: var(--sec);
}
/* نهاية الاسماء */
/* بداية الاختيار ,مين برا السالفة ,الاسئلة , مين يسأل  */
.choose-section {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.the-player {
  width: 35%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.the-player p {
  color: var(--first);
  font-size: 30px;
}
.the-player span {
  color: var(--fourth);
  font-size: 30px;
  font-weight: 900;
}
.the-player h1 {
  font-size: 45px;
  color: #e6d81e;
}
.the-player div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
/* بداية الاختيار ,مين برا السالفة ,الاسئلة , مين يسأل  */
/* بداية اسأل على كيفك, التصويت, اعرف شو هي السالفة */
.ask-any {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ask-any p {
  text-align: center;
  color: var(--first);
  font-size: 30px;
}
.ask-any span {
  color: var(--fourth);
  font-weight: 900;
  font-size: 40px;
}
.ask-player {
  height: 75%;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.ask-player button {
  width: 100%;
}
/* نهاية اسأل على كيفك , التصويت, اعرف شو هي السالفة */
/* بداية الكشف عن يلي برا السالفة  */
.big-revel {
  height: 75%;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.big-revel span {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first);
  color: var(--fourth);
  border: 7px var(--fourth) solid;
  outline: var(--first) 5px solid;
  border-radius: 156px;
  font-size: 30px;
  font-weight: 900;
}
/* نهاية الكشف عن يلي برا السالفة  */

/* بداية إضافة الأسماء  */

.add-player-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
  position: absolute !important;
  top: 0;
  background-color: #0c1306d7;
  width: 100%;
  backdrop-filter: blur(2px);
  /* display: none; */
}
.add-player-section h2 {
  color: var(--first);
}
.add-player-section > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.add-player-section input {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 16px;
  background-color: var(--first);
  text-align: center;
  font-weight: bold;
}
.add-player-section input:focus {
  box-shadow: 0 5px 0 #e5eb9c50;
  translate: 0 -5px;
}

/* نهاية إضافة الأسماء  */

@media (max-width:667px) {
  section{
        margin-bottom: 50px;
    }
  h1 {
    font-size: 20px;
    margin: 6px;
    margin-top: 20px;
  }
  
  button {
    font-size: 25px;
  }
  .bg-move {
    width: 150%;
    rotate: 90deg;
  }
  .home {
    font-size: 20px;
    top: -10px;
    left: -10px;
  }
  .start {
    width: 75%;
    height: 100%;
  }
  .start p,
  span {
    font-size: 18px;
  }
  .start img {
    width: 60%;
  }
  .player-section h1 {
    margin-top: 100px;
    font-size: 30px;
  }
  .player-names{

    margin-bottom: 30px;
    overflow-y:scroll;
    overflow-x: visible;
    padding-left: 50px;
    padding-right: 50px;
    border-radius:30px;

     /* 1. لمتصفحات كروم، إيدج، وسافاري (الموبايل والكمبيوتر) */
    &::-webkit-scrollbar {
        display: none;
    }

    /* 2. لمتصفح فايرفوكس */
    scrollbar-width: none;

    /* 3. لمتصفحات إنترنت إكسبلورر القديمة */
    -ms-overflow-style: none; 
    
    /* ميزة التمرير الناعم السلس على الموبايل */
    -webkit-overflow-scrolling: touch; 
  }
    .player-names button{

    font-size: 36px;
  }
  .add-player{
    margin-bottom: 70px;
  }
  .add-player button{
    font-size: 20px;
  }
  .card {
    width: 35%;
    height: 20%;
  }
  .the-player {
    width: 90%;
  }
  .the-player p,
  span {
    font-size: 23px;
  }
  .big-revel h1 {
    font-size: 35px;
  }
  .big-revel span {
    width: 100%;
    height: 30%;
  }

}
